  <%= form_for @trip, html: {multipart: true, id: 'new_trip_form' } do |f| %>
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:
        </h4>
        <ul>
          <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :title, 'Trip Title:' %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :hash_tag, 'Hashtag:' %>
      <%= f.text_field :hash_tag%>
    </div>
    <div class="new-trip-dates">
      <div>
        <%= f.label :start_date, 'Start:' %>
        <%= f.text_field :start_date %>
      </div>
      <div>
        <%= f.label :end_date, 'End:' %>
        <%= f.text_field :end_date %>
      </div>
      <span class="new-date-poll">
        <% if ! @trip.new_record? %>
        <%= link_to "polls", new_trip_poll_path(:trip_id => @trip.id) %>
        <% end %>
      </span>
    </div>
    <div class="new-trip-location">
      <div>
        <%= f.label :location, 'Location:' %>
        <%= f.text_field :location %>
      </div>
      <span class="new-location-poll">
        <% if ! @trip.new_record? %>
        <%= link_to  "polls", new_trip_poll_path(:trip_id => @trip.id) %>
        <% end %>
      </span>
    </div>
    <div>
      <%= f.label :is_private, 'Privacy:' %>
      <%= f.select :is_private, [['private', true], ['public', false]] %>
    </div>
    <div>
      <%= f.label :hide_guestlist, 'Hide Guestlist?' %>
      <%= f.check_box :hide_guestlist%>
    </div>
    <div>
      <div>
        <% if @trip.new_record? %>
          <%= f.submit 'Create'%>
        <% else %>
          <%= f.submit 'Update'%>
        <% end %>
        <%= button_tag "Reset", type: :reset%>
        <%= f.submit "Cancel"%>
      </div>
    </div>
  <% end %>