<h4><%= @trip.title %> Settings</h4>
<%= render "form" %>

<% if @trip.polls %>
  <hr />
  <h3>Poll Options</h3>
  <% @trip.polls.each do |poll| %>
    <div class="poll">
      <%= poll.poll_type %>: <%= poll.title %>
      <% if poll.expires? %>
       valid thru: <%= poll.expires.to_date.strftime("%m/%d/%y") %>
      <% end %>
    </div>
  <% end %>
<% end %>