<h4><%= @trip.title %> Settings</h4>
<%= render "form" %>


<hr />
<div class="invited">
  <p>Invited (<%= @invitations.count %>)</p>
  <% @invitations.each do |invitee| %>
    <div class='invitee'>
      <%= invitee.email %>
    </div>
  <% end %>
</div>
<br />
<div class="trip-invitations">
  Invite via: 
  <%= link_to "Facebook Friends", trip_facebook_invitation_path(@trip) %> |
  <%= link_to "Google Contacts", trip_google_invitation_path(@trip) %> |
  <%= link_to 'Email', new_trip_invitation_path(@trip) %>
</div>
<% if @trip.polls %>
  <hr />
  <h3>Poll Options</h3>
  <% @trip.polls.each do |poll| %>
    <div class="poll">
      <%= poll.poll_type %> poll: 
        <%= link_to poll.title, edit_trip_poll_path(@trip, poll.id) %>
      <% if poll.expires? %>
       valid thru: <%= poll.expires.to_date.strftime("%m/%d/%y") %>
      <% end %> | <%= link_to "Delete this poll",
                      trip_poll_path(@trip, poll.id),
                      method: :delete,
                      data: { confirm:
                              "Are you sure you want to delete this poll?"
                            }
                  %>

    </div>
  <% end %>
<% end %>