  <% page_title(@group.name, "Groups") %>
  <div id="group">
  <h4><%= @group.name %></h4>
  <% if @group.description %>
  <div>
    Desciption:<%= @group.description %>
  </div>
  <% end %>
  <% if @group.group_type %>
  <div>
    Group Type: <%= @group.group_type %>
  </div>
  <% end %>
  <% if @group.location %>
  <div>
    location: <%= @group.location %>
  </div>
  <% end %>
  <% if @group.avatar %>
  <div>
    <%= image_tag @group.avatar %>
  </div>
  <% end %>
  <% if @group.facebook_url %>
  <div>
    Facebook: <%= link_to @group.facebook_url %>
  </div>
  <% end %>
  <% if @group.meetup_url %>
   <div>
    Meetup: <%= link_to @group.meetup_url %>
  </div>
  <% end %>
  <% if @group.groupme_id %>
  <div>
    GroupMeL <%= @group.groupme_id %>
  </div>
  <% end %>
  <hr />

  <strong>Members:</strong>
  <%if user_signed_in? %>
    <% if  @group_admin or current_user.is_admin? %>
    <div>
      <%= render "memberships/form" %>
    </div>
    <% end %>
  <% end %>
  <div>
    <%= render "memberships/list" %>
  </div>
  <hr />
  <%if user_signed_in? %>
    <% if  @group_admin or current_user.is_admin? %>
      <%= link_to "Settings", edit_group_path(@group) %>
      <% if @group.is_active? %>
        <%= link_to "Deactivate this group", deactivate_group_path(@group) %>
      <% else %>
        <%= link_to "Reactivate this group", reactivate_group_path(@group) %>
      <% end %>
        
      <% if current_user && current_user.is_admin? %>
        <%= link_to "Delete This group",
                  group_path(@group),
                  method: :delete,
                  data: { confirm:
                          "Are you sure you want to cancel this group?"
                        }
        %>
      <% end %>
    <% end %>
  <% end %>
  </div>