  <div>
    <%= image_tag @user.avatar %>
  </div>
  <div>
    <p>
      <%= @user %>, <%= @user.email %>
    </p>
  </div>
  <div>
    <p>Lives in: <%= @user.zip_code %></p>
  </div>
  
  <% if @user.web_links.count > 0 %>
    <hr />
    <h4> links: </h4>
    <% @user.web_links.each do |link| %>
      <%= link_to link.url, link.url, :target => "_blank" %>
    <% end %>
  <% end %>

  <hr />
  <% if @groups.length > 0 %>
  <h4> <%= "#{@user.first_name}'s" %> Groups</h4>
  <% @groups.each do |group| %>
    <div>
      <%= link_to group.name,  group_path(group) %>
    </div>
  <% end %>
  <% end %>
  <% if @trips.length > 0 %>
    <h4> <%= "#{@user.first_name}'s" %> Trips</h4>
    <div id="active_trips">
      <strong>Active</strong>
      <%= render "trips/active" %>
    </div>
    <% cancelled_trips = @trips.where(is_active: false) %>
    <% if ! cancelled_trips.empty? %>
    <div id="cancelled_trips">
      <strong>Cancelled</strong>
      <%= render "trips/inactive" %>
    </div>
    <% end %>
  <% end %>
  <div>
  <% if user_signed_in? %>
    <% if @user == current_user or current_user.is_admin? %>
      <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
    <% end %>
  </div>
  <% end %>