  <div>
    <%= image_tag @user.avatar %>
  </div>
  <div>
    <p>
      <%= @user %>, <%= @user.email %>
    </p>
  </div>
  <div>
    <p>Lives in: <%= @user.zip_code %></p>
  </div>

  <hr />
  <% @memberships.each do |membership| %>
    <%=link_to membership.group, group_path(membership.group.id) %>
    <% if ! membership.is_active? %>
    ( pending )
    <% end %>
  <% end %>
  <% if @trips.length > 0 %>
    <h4> <%= "#{@user.first_name}'s" %> Trips</h4>
    <div id="active_trips">
      <strong>Active</strong>
      <%= render "trips/active" %>
    </div>
    <% cancelled_trips = @trips.where(is_active: false) %>
    <% if ! cancelled_trips.empty? %>
    <div id="cancelled_trips">
      <strong>Cancelled</strong>
      <%= render "trips/inactive" %>
    </div>
    <% end %>
  <% end %>
  <div>
  <% if @user.has_links?  %>
    <h4> links: </h4>
    <% @user.links.each do |web_link| %>
      <% if web_link.id %>
        <div>
        <% if user_signed_in? %>
          <% if @user == current_user or current_user.is_admin? %>
            <%= link_to 'Delete' , 
                user_web_link_path(id: web_link.id, user_id: @user.id),
                method: :delete
             %> |
          <% end %>
        <% end %>
        <%= link_to web_link.url, web_link.url, :target => "_blank" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <% if @user == current_user or current_user.is_admin? %>
      <h4> Add your social urls </h4>
      <%= link_to "Add a link", new_user_web_link_path(@user) %>
      <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
    <% end %>
  </div>
  <% end %>