<h3>Latest Trips
  <small>(<%= link_to "Create a Trip", new_trip_path %>)</small>
</h3>


<div>
  <% @trips.each do |trip| %>
    <% if trip.is_active? %>
    <div>
      <%= trip.start_date.to_date.strftime("%m/%d/%y")  %> 
      - 
      <%= trip.end_date.to_date.strftime("%m/%d/%y")   %>
    </div>
    </div>
      <%= link_to trip.title, trip %>
    </div>
    <div>
    <%= trip.location %>
    </div>
    <% end %>
    <br />
  <% end %>
</div>
<hr />
<div>
  <%= link_to "More Trips", trips_path %>
</div>