  <%= form_for [@trip, @invitation] do |f| %>
    <% if @invitation.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:
        </h4>
        <ul>
          <% @invitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @contacts.count > 0 %>
      <div class="gmail-contacts">
      <%= select_tag(:email, options_for_select(@contacts), 
                    { :multiple => true, :size => 10 }) %>
      </div>
    <% end %>
    <hr />
    <div>
      <%= link_to 'Preview', preview_invitation_trip_path(@trip), :method => :get  %>
      <%= f.submit "Add"%>
      <%= f.submit "Cancel"%>
    </div>
  <% end %>