    <% if @poll.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:
        </h4>
        <ul>
          <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :title, 'Title:' %>
      <%= f.text_field :title %>
    </div>

      <%= yield %>

     <div>
      <%= f.label :notes, 'Notes:' %>
      <%= f.text_area :notes %>
    </div>
      <div>
      <%= f.label :expires, 'Expires:' %>
      <%= f.text_field :expires %>
    </div>
    <div>
        <% if @poll.new_record? %>
          <%= f.submit 'Save'%>
        <% else %>
          <%= f.submit 'Update'%>
        <% end %>
        <%= button_tag "Reset", type: :reset%>
        <%= f.submit "Cancel"%>
    </div>
