  <%= form_for [@trip, @post], html: {id: 'new_post_form' } do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
        </h4>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="trip-post">
      <div>

        <%= f.text_area :message %><br />
        <%= f.label :message, "Message:" %>
      </div>
      <div>
        <%= f.submit "Submit" %>
        <%= button_tag "Reset", type: :reset%>
      </div>
    </div>
  <% end %>