  <%= form_for [@trip, @activity] do |f| %>
    <% if @activity.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@activity.errors.count, "error") %> prohibited this trip from being saved:
        </h4>
        <ul>
          <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :activity_type, 'Activity Type:' %>
      <%= f.select :activity_type, [['resturant', 'resturant'],
                                    ['entertainment', 'entertainment'],
                                    ['tour', 'tour'], ['meeting', 'meeting'],
                                    ['other', 'other']] %>
    </div>
    <div>
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :link, 'Link:' %>
      <%= f.text_field :link %>
    </div>
    <div>
      <%= f.label :venue, 'Venue:' %>
      <%= f.text_field :venue %>
    </div>
    <div>
      <%= f.label :address, 'Address:' %>
      <%= f.text_area :address %>
    </div>
    <div>
      <%= f.label :contact, 'Contact:' %>
      <%= f.text_area :contact %>
    </div>
    <div>
      <%= f.label :price, 'Price:' %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label :date, 'Date:' %>
      <%= f.text_field :date %>
    </div>
    <div>
      <%= f.label :start_time, 'Start Time:' %>
      <%= f.text_field :start_time %>
    </div>
    <div>
      <%= f.label :end_time, 'End Time:' %>
      <%= f.text_field :end_time %>
    </div>
    <div>
      <%= f.label :notes, 'Notes:' %>
      <%= f.text_area :notes %>
    </div>
    <div>
      <%= f.label :deadline, 'Deadline:' %>
      <%= f.text_field :deadline %>
    </div>
    <div>
      <%= f.label :tickets_available, 'Tickets Available:' %>
      <%= f.text_field :tickets_available %>
    </div>
    <div>
      <%= f.label :deposit_required, 'Deposit Required?' %>
      <%= f.check_box  :deposit_required %>
    </div>
    <div>
      <%= f.label :cc_required, 'Credit Card Required?' %>
      <%= f.check_box  :cc_required %>
    </div>
    <div>
      <%= f.label :min_age, 'Mininum Age:' %>
      <%= f.text_field :min_age %>
    </div>

    <hr />

    <div>
      <div>
        <% if @activity.new_record? %>
          <%= f.submit 'Submit'%>
        <% else %>
          <%= f.submit 'Update'%>
        <% end %>
        <%= button_tag "Reset", type: :reset%>
        <%= f.submit "Cancel"%>
      </div>
    </div>
  <% end %>
