<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Hoowenware | Development" %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
  <% end %>
    <nav>
      <% if current_user %>
        Welcome, <%= link_to current_user, current_user %> 
        | 
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      |
      <%= link_to "Sign in", new_user_session_path %>
      <% end %>
      | <%= link_to "Groups", groups_path %>
      | <%= link_to "Create a Group", new_group_path %>
      | <%= link_to "Trips", trips_path %>
      | <%= link_to "Create a Trip", new_trip_path %>
      <% if ! @home_page %>
        | <%= link_to "Home", root_path %>
      <% end %>
    </nav>
    <hr />
    <%= yield %>

  </body>
</html>
